body{
    text-align: center;
    justify-content: center;
}



h1{
    color: red;
    background-color: black;
}
h2{
    color: red;
    background-color: black;
}



p{
    color:  blue;
    background-color: aqua;


}